<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>404错误页面定制</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<!--<meta http-equiv="refresh" content="5;url=/">-->
<link rel="./stylesheet" type="text/css" href="./aspku/error.css" media="screen" />
</head>
<body>

<div id="container"><img class="png" src="./aspku/404.png" /> <img class="./png msg" src="./aspku/404_msg.png" />
  <p><a href="javascript:history.go(-1)"><img class="png" src="./aspku/404_to_index.png" /></a> </p>
</div>
<div id="cloud" class="png"></div>
<pre style="DISPLAY: none"></pre>
</body>
</html>